h2{
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase ;
    text-align: center
  }

h2:first-letter {
    font-size: 120%;
    margin-top: 50px;
  }
  
p{
   text-indent: 70px;
   text-align: justify;
}
  
#def{
    font-style: italic;
    text-align: justify;
  }

.bg-black{
    background-color: blue;
  }

h3,p{
  text-align: center;
}